<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Intel82574L</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright ©  2014 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.Intel82574LEthernet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Intel82574L</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.7.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21G309</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.6</string>
	<key>DTSDKBuild</key>
	<string>21G309</string>
	<key>DTSDKName</key>
	<string>macosx12.6.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Intel82574L</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.Intel82574LEthernet</string>
			<key>Driver Parameters</key>
			<dict>
				<key>Enable TSO</key>
				<false/>
				<key>Flow Control</key>
				<string>Transmit and Receive</string>
				<key>Maximum Interrupt Rate</key>
				<integer>8000</integer>
				<key>Offload TCP/IP Checksum</key>
				<true/>
				<key>RxAbsoluteTimer10</key>
				<integer>300</integer>
				<key>RxAbsoluteTimer100</key>
				<integer>300</integer>
				<key>RxAbsoluteTimer1000</key>
				<integer>64</integer>
				<key>RxDelayTimer10</key>
				<integer>25</integer>
				<key>RxDelayTimer100</key>
				<integer>25</integer>
				<key>RxDelayTimer1000</key>
				<integer>0</integer>
				<key>RxDescriptorCount</key>
				<integer>1024</integer>
				<key>TxDescriptorCount</key>
				<integer>1024</integer>
			</dict>
			<key>IOClass</key>
			<string>Intel82574L</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x104b8086 0x10f68086</string>
			<key>IOPCISecondaryMatch</key>
			<string>0x00008086 0x00000000</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.6</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.7</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
