
		<key>Debug</key>
		<dict>
			<key>AppleDebug</key>
			<true/>
			<key>ApplePanic</key>
			<true/>
			<key>DisplayDelay</key>
			<integer>0</integer>
			<key>DisableWatchDog</key>
			<true/>
			<key>DisplayLevel</key>
			<integer>2151678018</integer>
			<key>LogModules</key>
			<string>*</string>
			<key>SysReport</key>
			<false/>
			<key>Target</key>
			<integer>11</integer>
		</dict>
		<key>Serial</key>
		<dict>
			<key>Init</key>
			<true/>
		</dict>