# OC4VM VERSION
# {{VERSION}}
.encoding = "UTF-8"

# Sanity Checks #
{% if AVX1 == '1' -%}
# Check AVX 1.0 support in CPU (Sandy Bridge and Bulldozer or later)
featMask.vm.cpuid.AVX = "Min:1"
{% endif %}

{%- if AVX2 == '1' -%}
# Check AVX 2.0 support in CPU (Haswell and Excavator or later)
featMask.vm.cpuid.AVX2 = "Min:1"
{% endif %}

{%- if RDRAND == '1' -%}
# Check RDRAND support in CPU (mix of CPUs)
featMask.vm.cpuid.RDRAND = "Min:1"
{% endif %}

# Check CPU as OC4VM has Intel and AMD variants
{% if AMD == '0' -%}
featMask.vm.cpuid.INTEL = "Min:1"
{% elif AMD == '1' -%}
featMask.vm.cpuid.AMD = "Min:1"

# Switch off VMware default CPUID masks
cpuid.inhibitDarwinMasks = "TRUE"

# Fusion macOS masked CPU is Skylake family
cpuid.0.ebx = "0111:0101:0110:1110:0110:0101:0100:0111"
cpuid.0.ecx = "0110:1100:0110:0101:0111:0100:0110:1110"
cpuid.0.edx = "0100:1001:0110:0101:0110:1110:0110:1001"
cpuid.brandstring = "Intel(R) Core(TM] i7-6500U CPU @ 2.50GHz"
featMask.vm.cpuid.FAMILY = "Val:0x6"
featMask.vm.cpuid.MODEL = "Val:0x4e"
featMask.vm.cpuid.STEPPING = "Val:0x03"
{% else -%}
{# Error no valid CPU passed so raise a zero division error #}
{# https://stackoverflow.com/a/43398591 #}
{{ 0/0 }}
{% endif %}

# Mac mini 2018
board-id = "Mac-7BA5B2DFE22DDD8C"
board-id.reflectHost = "FALSE"
efi.nvram.var.MLB = "C07801609GUKXPGJA"
efi.nvram.var.MLB.reflectHost = "FALSE"
efi.nvram.var.ROM = "EFA3707116CA"
efi.nvram.var.ROM.reflectHost = "FALSE"
hw.model = "Macmini8,1"
hw.model.reflectHost = "FALSE"
serialNumber = "C07W20B5JYVX"
serialNumber.reflectHost = "FALSE"
smbios.reflectHost = "TRUE"

# Serial port for debugging
answer.msg.serial.file.open = "Replace"
serial0.fileName = "serial.log"
serial0.fileType = "file"
serial0.present = "TRUE"
serial0.startConnected = "FALSE"
serial0.tryNoRxLoss = "FALSE"
serial0.yieldOnMsrRead = "TRUE"

# VMware build release/debug/stats
vmx.buildType = "release"

# Standard VMX parameters from Fusion macOS VM
config.version = "8"
cpuid.coresPerSocket = "2"
displayName = "{{DISPLAYNAME}}"
ehci.present = "TRUE"
ethernet0.addressType = "generated"
ethernet0.connectionType = "nat"
ethernet0.linkStatePropagation.enable = "TRUE"
ethernet0.pciSlotNumber = "160"
ethernet0.present = "TRUE"
ethernet0.startConnected = "TRUE"
ethernet0.virtualDev = "{{ETHERNET_DEVICE}}"
extendedConfigFile = "macos.vmxf"
firmware = "efi"
floppy0.present = "FALSE"
guestOS = "{{GUESTOS}}"
gui.fitGuestUsingNativeDisplayResolution = "FALSE"
hpet0.present = "TRUE"
ich7m.present = "TRUE"
memsize = "4096"
numvcpus = "2"
nvram = "macos.nvram"
pciBridge0.present = "TRUE"
pciBridge4.functions = "8"
pciBridge4.present = "TRUE"
pciBridge4.virtualDev = "pcieRootPort"
pciBridge5.functions = "8"
pciBridge5.present = "TRUE"
pciBridge5.virtualDev = "pcieRootPort"
pciBridge6.functions = "8"
pciBridge6.present = "TRUE"
pciBridge6.virtualDev = "pcieRootPort"
pciBridge7.functions = "8"
pciBridge7.present = "TRUE"
pciBridge7.virtualDev = "pcieRootPort"
powerType.powerOff = "soft"
powerType.powerOn = "soft"
powerType.reset = "soft"
powerType.suspend = "soft"
sata0:0.fileName = "opencore.vmdk"
sata0:0.present = "TRUE"
sata0:1.fileName = "macos.vmdk"
sata0:1.present = "TRUE"
sata0:2.autodetect = "TRUE"
sata0:2.deviceType = "cdrom-image"
sata0:2.fileName = "auto detect"
sata0:2.present = "TRUE"
sata0:2.startConnected = "FALSE"
sata0.present = "TRUE"
smbios.restrictSerialCharset = "TRUE"
smc.present = "FALSE"
sound.autoDetect = "TRUE"
sound.fileName = "-1"
sound.present = "TRUE"
sound.virtualDev = "hdaudio"
tools.syncTime = "TRUE"
tools.upgrade.policy = "upgradeAtPowerCycle"
ulm.disableMitigations = "TRUE"
usb_xhci.present = "TRUE"
usb.present = "TRUE"
usb.vbluetooth.startConnected = "TRUE"
virtualHW.productCompatibility = "hosted"
virtualHW.version = "19"
vmci0.present = "TRUE"
vhv.enable = "FALSE"
vpmc.enable = "FALSE"
vvtd.enable = "FALSE"

# VMware added settings
