<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#Tokamak</key>
	<string>OpenCore Release VirtualSMC AVX2 Fixes</string>
	<key>Booter</key>
	<dict>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
				<key>Comment</key>
				<string>Kernel Patcher</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>8.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
				<key>Comment</key>
				<string>SMC emulator</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>8.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>CryptexFixup.kext</string>
				<key>Comment</key>
				<string>AVX 2.0 Fix</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/CryptexFixup</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>20.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>NoAVXFSCompressionTypeZlib-AVXpel.kext</string>
				<key>Comment</key>
				<string>Work-around 13.0+ Zlib kernel panic</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/NoAVXFSCompressionTypeZlib</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Boot</key>
		<dict>
			<key>HibernateSkipsPicker</key>
			<true/>
			<key>HideAuxiliary</key>
			<true/>
			<key>LauncherOption</key>
			<string>Full</string>
			<key>PickerAttributes</key>
			<integer>145</integer>
			<key>PickerMode</key>
			<string>External</string>
			<key>PollAppleHotKeys</key>
			<true/>
			<key>ShowPicker</key>
			<true/>
			<key>Timeout</key>
			<integer>5</integer>
		</dict>
<!--		<key>Debug</key>-->
<!--		<dict>-->
<!--			<key>AppleDebug</key>-->
<!--			<true/>-->
<!--			<key>ApplePanic</key>-->
<!--			<true/>-->
<!--			<key>DisplayDelay</key>-->
<!--			<integer>0</integer>-->
<!--			<key>DisableWatchDog</key>-->
<!--			<true/>-->
<!--			<key>DisplayLevel</key>-->
<!--			<integer>2151678018</integer>-->
<!--			<key>LogModules</key>-->
<!--			<string>*</string>-->
<!--			<key>SysReport</key>-->
<!--			<false/>-->
<!--			<key>Target</key>-->
<!--			<integer>11</integer>-->
<!--		</dict>-->
		<key>Security</key>
		<dict>
			<key>AllowSetDefault</key>
			<true/>
			<key>BlacklistAppleUpdate</key>
			<true/>
			<key>DmgLoading</key>
			<string>Any</string>
			<key>ScanPolicy</key>
			<integer>0</integer>
			<key>SecureBootModel</key>
			<string>Disabled</string>
 			<key>Vault</key>
			<string>Optional</string>
		</dict>
<!--		<key>Serial</key>-->
<!--		<dict>-->
<!--			<key>Init</key>-->
<!--			<true/>-->
<!--		</dict>-->
		<key>Tools</key>
		<array>
			<dict>
				<key>Arguments</key>
				<string></string>
				<key>Auxiliary</key>
				<true/>
				<key>Comment</key>
				<string>OpenShell</string>
				<key>Enabled</key>
				<true/>
				<key>Flavour</key>
				<string>Shell</string>
				<key>FullNvramAccess</key>
				<true/>
				<key>Name</key>
				<string>OpenShell</string>
				<key>Path</key>
				<string>OpenShell.efi</string>
				<key>RealPath</key>
				<false/>
				<key>TextMode</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>Drivers</key>
		<array>
			<dict>
				<key>Arguments</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>HfsPlusLegacy.efi</string>
			</dict>
			<dict>
				<key>Arguments</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>OpenRuntime.efi</string>
			</dict>
			<dict>
				<key>Arguments</key>
				<string></string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>OpenCanopy.efi</string>
			</dict>
			<dict>
				<key>Arguments</key>
				<string></string>
				<key>Comment</key>
				<string>Toggle SIP</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>ToggleSipEntry.efi</string>
			</dict>
			<dict>
				<key>Arguments</key>
				<string></string>
				<key>Comment</key>
				<string>Reset NVRAM</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>ResetNvramEntry.efi</string>
			</dict>
		</array>
		<key>Input</key>
		<dict>
			<key>KeySupport</key>
			<true/>
			<key>KeySupportMode</key>
			<string>V2</string>
			<key>TimerResolution</key>
			<integer>50000</integer>
		</dict>
		<key>Output</key>
		<dict>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>Resolution</key>
			<string>1440x900@32</string>
		</dict>
		<key>Quirks</key>
		<dict>
			<key>RequestBootVarRouting</key>
			<true/>
		</dict>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string>keepsyms=1 amfi_get_out_of_my_way=0x1 -no_panic_dialog -lilubetaalll</string>
				<key>csr-active-config</key>
				<data>
				/w8AAA==
				</data>
			</dict>
		</dict>
		<key>Delete</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<array>
				<string>boot-args</string>
				<string>csr-active-config</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
