.encoding = "UTF-8"

# Sanity Checks #
# Check CPU as OC4VM has Intel and AMD variants
{%- if AMD == '0' -%}
featMask.vm.cpuid.INTEL = "Min:1"
{%- elif AMD == '1' -%}
featMask.vm.cpuid.AMD = "Min:1"
{%- else -%}
# Error no valid sanity check
{%- endif -%}

# Check AVX 1.0 support in CPU (Sandy Bridge and Bulldozer or later)
featMask.vm.cpuid.AVX = "Min:1"

config.version = "8"
cpuid.coresPerSocket = "2"
displayName = "{{DISPLAYNAME}}"
ehci.present = "TRUE"
ethernet0.addressType = "generated"
ethernet0.connectionType = "nat"
ethernet0.linkStatePropagation.enable = "TRUE"
ethernet0.present = "TRUE"
ethernet0.virtualDev = "{{ETHERNET_DEVICE}}"
extendedConfigFile = "macos.vmxf"
firmware = "efi"
floppy0.present = "FALSE"
guestOS = "{{GUESTOS}}"
hpet0.present = "TRUE"
ich7m.present = "TRUE"
memsize = "4096"
numvcpus = "2"
nvram = "macos.nvram"
pciBridge0.present = "TRUE"
pciBridge4.functions = "8"
pciBridge4.present = "TRUE"
pciBridge4.virtualDev = "pcieRootPort"
pciBridge5.functions = "8"
pciBridge5.present = "TRUE"
pciBridge5.virtualDev = "pcieRootPort"
pciBridge6.functions = "8"
pciBridge6.present = "TRUE"
pciBridge6.virtualDev = "pcieRootPort"
pciBridge7.functions = "8"
pciBridge7.present = "TRUE"
pciBridge7.virtualDev = "pcieRootPort"
powerType.powerOff = "soft"
powerType.powerOn = "soft"
powerType.reset = "soft"
powerType.suspend = "soft"
sata0:0.fileName = "macos.vmdk"
sata0:0.present = "TRUE"
sata0:1.deviceType = "cdrom-raw"
sata0:1.fileName = "auto detect"
sata0:1.present = "TRUE"
sata0:2.fileName = "opencore.vmdk"
sata0:2.present = "TRUE"
sata0.present = "TRUE"
smbios.restrictSerialCharset = "TRUE"
smc.present = "FALSE"
sound.autoDetect = "TRUE"
sound.fileName = "-1"
sound.present = "TRUE"
sound.virtualDev = "hdaudio"
tools.syncTime = "TRUE"
tools.upgrade.policy = "upgradeAtPowerCycle"
usb_xhci.present = "TRUE"
usb.present = "TRUE"
usb.vbluetooth.startConnected = "TRUE"
virtualHW.productCompatibility = "hosted"
virtualHW.version = "19"
vmci0.present = "TRUE"
vhv.enable = "FALSE"
vpmc.enable = "FALSE"
vvtd.enable = "FALSE"
